*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

nav{
    background-color: #0084FD;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: auto;
}

.menu-cont{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu-link{
    text-decoration: none;
    color: white;
}

.nav-btn{
    background-color: white;
    color: black;
    padding: .5rem;
    border: none;
    border-radius: 25px;
}

.pop-up-menu{
    display: none;
    color: white;
}

/* nav media query */

@media screen and (max-width: 768px) {
    .nav-container{
        padding-inline: 2rem;
    }

    .menu-cont{
        display: none;
    }

    .pop-up-menu{
        display: block;
    }
}

/* main */

.container{
    max-width: 1000px;
    margin-inline: auto;
}

.grid{
    --gapx: 1rem;
    --gapy: 2rem;
}

.cells{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    gap: var(--gapy) var(--gapx);
}

.cell{
    flex-basis: calc((100% - 2 * var(--gapx)) / 3);
    height: 200px;
    background-color: #B5DDFF;
}

.cell.content{
    height: 200px;
}

.cell-big{
    flex-basis: calc(2 * ((100% - 2 * var(--gapx)) / 3) + var(--gapx));
}

.cell:nth-child(even) .content{
    background-color: red;
}