*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

nav{
    background-color: #0084FD;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: auto;
}

.menu-cont{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu-link{
    text-decoration: none;
    color: white;
}

.nav-btn{
    background-color: white;
    color: black;
    padding: .5rem;
    border: none;
    border-radius: 25px;
}

.pop-up-menu{
    display: none;
    color: white;
}

/* nav media query */

@media screen and (max-width: 768px) {
    .nav-container{
        padding-inline: 2rem;
    }

    .menu-cont{
        display: none;
    }

    .pop-up-menu{
        display: block;
    }
}

/* main */

/* first section */

.container{
    max-width: 1000px;
    margin-inline: auto;
}

.container .grid{
    --gapx: 1rem;
    --gapy: 2rem;
}

.container .cells{
    margin-top: 100px;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    gap: var(--gapy) var(--gapx);
}

.container .cell{
    flex-basis: calc((100% - 2 * var(--gapx)) / 3);
    background-color: #B5DDFF;
    border-radius: 25px;
}

.cell-big{
    display: flex;
    flex-basis: calc(2 * ((100% - 2 * var(--gapx)) / 3) + var(--gapx));
    height: 100%;
    /* padding: 1rem; */
}

.text{
    width: 50%;
    padding: 1rem;
}

.title-sec-1{
    color: #0084FD;
    margin-bottom: 1rem;
}

.p-sec-1{
    margin-bottom: 1rem;
}

.img{
    height: 100%;
}

.btn-blue{
    color: white;
    background-color: #0084FD;
    border: none;
    padding: 1rem 2rem 1rem;
    border-radius: 25px;
}

.bi-file-earmark-code-fill,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn{
    display: block;
    color: #0084FD;
}

/* second section */
.sec-2{
    background-color: #9792E4;
}

.container-sec-2{
    max-width: 900px;
    margin: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    display: flex;
}

.sec-right{
    align-self: flex-end;
}

.sec-left,
.sec-right{
    flex: 0 0 50%;
    padding-inline: 1rem;
}

.sec-right{ 
    background-color: white;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
    line-height: 1.5rem;
}

.img-sec2-left,
.img-sec2-right{
    display: block;
    max-width: 100%;
}

.img-sec2-left{
    margin-bottom: 8rem;
}

.img-sec2-right{
    max-width: 150px;
    aspect-ratio: 1 / 1;
    margin: 1rem auto;
}

.title-sec-2-left{
    color: white;
    margin-bottom: 4rem;
}

.p-sec-2-left{
    color:white;
}

.title-sec-2-right{
    color: black;
    margin-bottom: 4rem;
}